   *{
    margin: 0%;
    padding: 0%;
   }
   .parent{
        height: 500px;
        width: 100%;
        background-color: black;
    }
    .baby1{
        height: 100px;
        width: 100%;
        background-color: bisque;
    }
    .baby2{
        display:inline-block
        heig
    }
    .child1{
        display: inline-block;
        height: 200px;
        width: 25%;
        background-color: aqua;

    }
    .child2{
        display: inline-flex;
        height: 200px;
        width: 25%;
        background-color: azure;
    }
    .child3{
 
        display: inline-block;
        height: 200px;
        width: 25%;
        background-color: blue;
    }
    .child4{
        display: inline-block;
        height: 200px;
        width: 24%;
        background-color: gold;
    }
    .baby3{
        display: inline-block;
        height: 100px;
        width: 100%;
        background-color: brown;
    }
    .child5{
        display: inline-block;
        height: 100px;
        width: 50%;
        background-color:pink;
    }
    .child6{
        display: inline-block;
        height: 100px;
        width: 49%;
        background-color: slategray;
    }
    .baby7{
        height: 100px;
        width: 100%;
        background-color: plum;
    }