   *{
    margin: 0;
    padding: 0;
   }
   /* p{
        height: 100px;
        background-color: paleturquoise;
    } */

    h1{
        height: 100px;
        background-color: azure;
    }
    #box{
         height: 100px;
         background-color: bisque;
    }
    .one{
        height: 100px;
        background-color: brown;
    }
    .abi{
        height: 50px;
        background-color: blueviolet;
    }
    /* .three{
        background-color: black;
    } */
    .box{
        height: 100px;
        width: 200px;
        background-color: aqua;
        border:2px solid black;
        margin-top: 50px;
        margin-left: 100px;
        padding-top: 10px;
        }
        #sowmi{
            background-color: gold;
        }
        #jelin{
            background-color:aquamarine;
        }
        .sowmi{
            display: inline-block;
            height: 150px;
            width: 300px;
            background-color:pink ;
        }
        .jelin{
            display: inline-block;
            height: 150px;
            width: 300px;
            background-color:yellow;
        }